@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    background-color: #222226;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 25px;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
}

#title {
    text-align: center;
}

#avatar {
    border-radius: 50%;
    margin-left: 130px;
}

.button {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 2px 0.3em 0.3em 0;
    border-radius: 0.15em;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

.button:hover {
    background-color: #1a57ff;
}

.button:active {
    top: 0.1em;
}

@media all and (max-width:30em) {
    .button {
        display: block;
        margin: 0.4em auto;
    }
}